@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --md-sys-color-primary: 103 80 164;
    --md-sys-color-on-primary: 255 255 255;
    --md-sys-color-primary-container: 234 221 255;
    --md-sys-color-on-primary-container: 33 0 93;
    --md-sys-color-secondary: 98 91 113;
    --md-sys-color-on-secondary: 255 255 255;
    --md-sys-color-secondary-container: 232 222 248;
    --md-sys-color-on-secondary-container: 29 25 43;
    --md-sys-color-tertiary: 125 82 96;
    --md-sys-color-on-tertiary: 255 255 255;
    --md-sys-color-tertiary-container: 255 217 227;
    --md-sys-color-on-tertiary-container: 49 17 29;
    --md-sys-color-error: 179 38 30;
    --md-sys-color-on-error: 255 255 255;
    --md-sys-color-error-container: 249 222 220;
    --md-sys-color-on-error-container: 65 14 11;
    --md-sys-color-background: 255 251 254;
    --md-sys-color-on-background: 28 27 31;
    --md-sys-color-surface: 255 251 254;
    --md-sys-color-on-surface: 28 27 31;
    --md-sys-color-surface-variant: 231 224 236;
    --md-sys-color-on-surface-variant: 73 69 78;
    --md-sys-color-outline: 121 116 126;
    --md-sys-color-outline-variant: 196 199 197;
  }

  .dark {
    --md-sys-color-primary: 208 188 255;
    --md-sys-color-on-primary: 55 30 115;
    --md-sys-color-primary-container: 79 55 139;
    --md-sys-color-on-primary-container: 234 221 255;
    --md-sys-color-secondary: 204 194 220;
    --md-sys-color-on-secondary: 51 45 65;
    --md-sys-color-secondary-container: 74 68 88;
    --md-sys-color-on-secondary-container: 232 222 248;
    --md-sys-color-tertiary: 239 184 200;
    --md-sys-color-on-tertiary: 73 37 50;
    --md-sys-color-tertiary-container: 99 59 72;
    --md-sys-color-on-tertiary-container: 255 217 227;
    --md-sys-color-error: 242 184 181;
    --md-sys-color-on-error: 96 20 16;
    --md-sys-color-error-container: 140 29 24;
    --md-sys-color-on-error-container: 249 222 220;
    --md-sys-color-background: 28 27 31;
    --md-sys-color-on-background: 230 225 229;
    --md-sys-color-surface: 28 27 31;
    --md-sys-color-on-surface: 230 225 229;
    --md-sys-color-surface-variant: 73 69 78;
    --md-sys-color-on-surface-variant: 202 196 208;
    --md-sys-color-outline: 147 143 153;
    --md-sys-color-outline-variant: 68 71 70;
  }
}

@layer base {
  * {
    @apply border-outline;
  }
  body {
    @apply bg-background text-on-background;
  }
}